/* General Styles */
.homepage {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0 auto;
    max-width: 90%;
    padding: 20px;
  }
  
  .homepage-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .homepage-header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #007BFF; /* Primary color for titles */
  }
  
  .homepage-header p {
    font-size: 1.2em;
    color: #777;
  }

  .auth-buttons {
    margin: 20px 20px;
    padding: 20px;
    display: flex;
  }
  
  .auth-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    /* width: 70%; */
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .auth-button:hover {
    background-color: #0056b3;
  }
  
  .auth-button.register {
    background-color: #28a745; /* Green for Register */
  }
  
  .auth-button.register:hover {
    background-color: #218838;
  }
  
  .why-gradepro,
  .features {
    margin-bottom: 40px;
  }
  
  .why-gradepro h2,
  .features h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #007BFF; /* Primary color for section headers */
  }
  
  .homepage-footer {
    text-align: center;
    font-size: 1.1em;
    margin-top: 40px;
    color: #555;
  }
  
  /* Accordion Component Styles */
  .accordion {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .accordion-title {
    background-color: #f7f7f7;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
  }
  
  .accordion-title:hover {
    background-color: #e9e9e9;
  }
  
  .accordion-title h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .accordion-title span {
    font-size: 1.5em;
  }
  
  .accordion-content {
    padding: 20px;
    background-color: #fff;
    max-height: 0;
    margin-bottom: 10px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .accordion-content p {
    margin: 0;
  }
  
  /* Show the content when the accordion is open */
  .accordion-content-open {
    max-height: 1000px; /* Large max-height to allow full content display */
  }
  