.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increased width for horizontal alignment */
  margin: 20px auto;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px 0 20px 0;
}
  
#login-form {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  width: 48%;
}

.form-group label {
  flex: 2;
  margin-right: 10px;
}

.form-group input,
.form-group select,
.form-group textarea {
  flex: 2;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

h6 {
  text-align: center;
  margin-top: 15px;
}

h6 a {
  color: #4CAF50;
  text-decoration: none;
}

h6 a:hover {
  text-decoration: underline;
}

*/

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}